
{% extends 'templates/main.j2' %}
{% block content %}

        <div>
            <h1>Index</h1>
        </div>
        
{% endblock content %}

{% block script %}
{% endblock script %}

